.designed-carousels-wrapper {
  @media screen and (min-width:676px) {
    &:hover {
      & [data-carousel] {
        animation-play-state: paused !important;
      }
    }
  }
}

.designed-products-carousel-container {
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  transform: translateZ(0) rotate(-2deg);
  perspective: 1000;

  backface-visibility: visible;
}

.designed-products-carousel {
  animation: firstDesignedProductsAnimation 50s linear infinite;

  display: flex;
  align-items: stretch;
  will-change: transform;

  img {
    object-fit: contain;
  }

  &>* {
    flex-shrink: 0;
    margin-inline: 4px;

    transform: translateZ(0); // this rules forces a new layer
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    backface-visibility: hidden;
    perspective: 1000;
  }

  &.alternate {
    animation: secondDesignedProductsAnimation 50s linear infinite;
  }
}
