#for-whom-toggles {
  .for-whom-toggle {
    position: relative;

    padding: 14px;
    cursor: pointer;
    border-radius: 100%;

    &.hourglass {
      color: #8B78FA
    }

    &.price-tag {
      color: #DF93F9
    }

    &.lightning {
      color: #EDA48A
    }

    svg.icon {
      width: 16px;
      height: 16px;
    }

    .progress-icon {
      top: 0;
      left: 0;
      position: absolute;

      width: 100%;
      height: 100%;

      .track {
        fill: none;
        stroke: rgba(45, 33, 116, 0.08);

        stroke-width: 0px;
      }

      .progress {
        transform-origin: center center;
        transform: rotate(-90deg);

        fill: none;
        stroke-width: 0px;

        stroke-dasharray: calc(2 * 3.1415 * 28);
        stroke-dashoffset: calc(2 * 3.1415 * 28);

        stroke: currentColor;

        animation: none;
      }
    }


    &.active {
      padding: 18px;
      background-color: white;

      .progress-icon {
        .track {
          stroke-width: 3px;
        }

        .progress {
          stroke-width: 3px;
        }
      }

      svg.icon {
        width: 20px;
        height: 20px;
      }

      .progress {
        animation: circleFill 3s forwards linear;
        animation-delay: 0s;
      }

      path {
        fill: currentColor;
      }
    }

    &.idle {
      background-color: #F0F5F0;

      path {
        fill: #97A59D
      }
    }
  }
}

@keyframes circleFill {
  to {
    stroke-dashoffset: 0;
  }
}

#for-whom-carousel {
  .swiper-wrapper {
    animation-timing-function: linear;
  }

  .slide-content {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 48px 40px 0px;

    height: 418px;

    &::after {
      content: "";
      background: linear-gradient(180deg, rgba(10, 22, 22, 0.00) 0%, rgba(10, 22, 22, 0.01) 50.00%, rgba(10, 22, 22, 0.04) 100%);
      height: 113px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @media screen and (max-width: 767px) {
      padding-inline: 36px;
    }
  }
}
