.trusted-carousel-container {
  position: relative;

  .trusted-carousel {
    transform: translateZ(0);
    will-change: transform;
    animation: trustedByAnimation 25s linear infinite;

    @media screen and (min-width: 676px) {
      animation: trustedByAnimation 25s linear infinite;

      &:hover {
        animation-play-state: paused;
      }
    }

    @media screen and (max-width: 676px) {
      & > img {
        height: 18px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;

    background: linear-gradient(90deg, rgba(240, 245, 240, 0) 0%, #f0f5f0 100%);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 120px;
    z-index: 1;

    background: linear-gradient(
      90deg,
      #f0f5f0 73.47%,
      rgba(240, 245, 240, 0) 100%
    );
  }

  @media screen and (max-width: 676px) {
    &::before {
      width: 40px;
    }
    &::after {
      width: 40px;
    }
  }
}
