.ultralivery-features {
  background: url("./new-assets/backgrounds/desktop/ultralivery-bg.png"),
    linear-gradient(180deg, #efe58a 41.84%, #ece180 100%, #f7faf7);
}

.ultralivery-tooltip-trigger {
  position: relative;

  &:hover,
  &:active {
    background-color: rgba(239, 229, 138, 0.2);

    path {
      fill: #b8ab35;
    }
    .ultralivery-tooltip {
      display: block;
    }
  }
}

.ultralivery-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 12px);
  padding: 20px;
  padding-right: 28px;

  width: 450px;
  max-width: 450px;

  border-radius: 8px;
  background: #152928;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;

  z-index: 100;
  transform: translateX(-100%);

  @media screen and (max-width: 767px) {
    transform: translateX(-80%);
    max-width: 300px;
  }
}
